.over {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#shipper-dashboard {
    text-align: center;
}

#shipper-dashboard img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#shipper-dashboard p {
    color: blue;
    cursor: pointer;
}
