@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: Noto Sans, Arial, sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.chat-container {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 10px;
}

.chat-icon {
  padding: 10px;
  font-size: 24px;
  border: 0.2px solid #ffb67e;
  border-radius: 5px;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}